<header class="header">
    <div class="logo">
      <h1 style="color: aliceblue;">Stocks</h1>
    </div>
    <div class="user-info">
      <span class="user-name">{{ userName }}</span>
      <img
        src="{{ userAvatar }}"
        alt="User Avatar"
        class="user-avatar"
        (click)="toggleDropdown()"
      >
      <ul class="dropdown" [class.show]="dropdownOpen">
        <li><a (click)="userDetails()">View Profile</a></li>
        <li><a [routerLink]="['/portfolio']">Portfolio</a></li>
        <li><a (click)="logOut()">Logout</a></li>
      </ul>
    </div>
  </header>
  